<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#wordcloud {
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    background-color: #eeeeee
    height: 300px
    width:200px;
    float:left;
    padding:5px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
.neutral{
    color:grey;
}
.positive{
    color:green;
}
.negative {
    color:red;
}
</style>
