<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#wordcloud {
    height:350px;
    width:550px;
    float:left;
    position:relative;
    padding:5px
}
#topicprops{
    height:350px
    width:200px;
    position:relative;
    padding:5px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
.neutral{
    color:grey;
}
.positive{
    color:green;
}
.negative {
    color:red;
}
</style>
